    <nav class="title-bar">
      <div class="py-1 flex items-center justify-between w-full">
        <div>
        <a href="/" class="title-bar-text">Home</a>
        <a href="/blog" class="title-bar-text">Blog</a>
        <a href="/about" class="title-bar-text">About Me</a>
        </div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Restore"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
    </nav>
